
:root {
    --primary-color: #2c3e50;
    --secondary-color: #3498db;
    --text-color: #333;
    --background-color: #f4f4f9;
    --highlight-color: #e74c3c;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #d4d4d4;
}

header h1 {
    font-size: 2rem;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

header h1 span {
    color: #e67e22; 
}


.quotes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}


.quote-card {
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
    padding: 20px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.quote-card blockquote {
    font-size: 1rem;
    font-style: italic;
    color: #333;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;
}

.quote-card blockquote:before {
    content: '“';
    font-size: 3rem;
    color: #e67e22;
    position: absolute;
    top: -20px;
    left: 10px;
}

.quote-card blockquote:after {
    content: '”';
    font-size: 3rem;
    color: #e67e22;
    position: absolute;
    bottom: -10px;
    right: 10px;
}


.author {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author span {
    font-weight: bold;
}

/* Social Icons */
.social-icons {
    margin-top: 10px;
}

.social-icons a img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transition: opacity 0.3s ease;
}

.social-icons a img:hover {
    opacity: 0.7;
}
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    #card4{
        grid-column: 1;
    }

    .hero p {
        font-size: 1rem;
    }

    .nav-links {
        flex-direction: row;
    }

    .introduction h2, .featured-topics h2, .current-trends h2 {
        font-size: 2rem;
    }

    .topic-card {
        padding: 1rem;
    }
}
@media (max-width: 380px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    #card4{
        grid-column: 1;
    }

    .hero p {
        font-size: 1rem;
    }

    .nav-links {
        flex-direction: row;
    }

    .introduction h2, .featured-topics h2, .current-trends h2 {
        font-size: 2rem;
    }

    .topic-card {
        padding: 1rem;
    }

}
.sidenav .closebtn {
    display: none;
  }

  .ok{
    display: none;
  }

  
  
  
  @media (max-width: 650px) {

    .ok{
        display: block;
        color: white;
      }    
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        display: block;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      #mySidenav{
        display: flex;
        flex-direction: column;
      }
  }
@media (max-width: 860px) {
    .hero h1 {
        font-size: 2.5rem;
    }
    #card4{
        grid-column: 1;
    }
    

    .hero p {
        font-size: 1rem;
    }

    .nav-links {
        flex-direction: row;
    }

    .introduction h2, .featured-topics h2, .current-trends h2 {
        font-size: 2rem;
    }

    .topic-card {
        padding: 1rem;
    }
}
.theme-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
body.dark-theme {
    background-color: #2C2C2C;
    color: #FFFFFF;
}

body.dark-theme .header{
    background-color: #3B3B3B;
}
body.dark-theme footer{
    background-color: #3B3B3B;
}
body.dark-theme h2{
    color: #2600ff;
}

body.dark-theme .nav-links a {
    color: #FFFFFF;
}
body.dark-theme .topic-card{
    background-color: black;
}
body.dark-theme .nav-links a:hover {
    color: #FFD700; 
}

body.dark-theme h1, h2{
    color: #ffffff;
}
body.dark-theme header{
    background-color: rgb(0, 0, 0);
}
body.dark-theme .quote-card{
    background-color: black;
    color: white;
}
.footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}
body.dark-theme footer{
    background-color: #3B3B3B;
}